.title{
	  text-align: center;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Muli', sans-serif;
}
.main-div{
	width: 1286px;
	height: 700px;
	background-color: #22B573;
    border: solid;
	border-color: #006837;
	margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.navigation{
    float: right;
    text-align: left;
	font-size: 40px;
	margin-right: 36px;
	color: #fff;
	font-family: 'Muli', sans-serif;
	margin-top: 50px
}
.paper-airplane{
    float: right;
    margin-top: 50px;
    margin-right:55px;
    margin-left: 46px;
    margin-bottom:63px;
}
.clear{
	clear: both;
}
.box1{
	width: 570px;
    height: 310px;
    float: left;
    text-align: left;
    background-color: #FCEE21;
    padding: 24px;
    margin-left: 74px;
    margin-bottom: 59px
   
}
.box2{
	width: 480px;;
    height: 310px;
    float:right;
    text-align: left;
    background-color: #FCEE21;
    padding: 24px;
    margin-right: 56px;
    margin-bottom: 59px

}
.text1{
    width: 392px;
	font-size:12px;
	float: left;
    font-family: 'Margarine', cursive;
    margin-bottom: 21px;
}
.text1-2{
	font-size:12px;
    font-family: 'Margarine', cursive;
    float: left
}
.text2{
    width: 287px;
    color: #006837;
	font-size:12px;
    float: right;
    font-family: 'Margarine', cursive;
}
.text2-1{
	float: right;
	color: #006837;
	font-size:12px;
    font-family: 'Margarine', cursive;
}
.text2-2{
    float: right;
	color: #006837;
	font-size:13px;
	margin-top: 17px;
    font-family: 'Margarine', cursive;
}
.image1{
	margin-bottom: 63px;
    margin-left: 21px;
    vertical-align: top;
}
.text2-2:after{
	content: '';
	clear:both ;
}
.image:after{
	content: '';
	clear: both;
}

   